* {
    box-sizing: content-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
li {
    list-style: none;
}

body {
    background: #c3c3c3;
    background-image: url(./img/bg.jpeg);
    background-size: cover;
    opacity: .9;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .input-a {
    min-width: 60vw;
    padding: 10px;
    margin: 20px;
    border: none;
    border-radius: 4px;
}

header .search-btn {
    padding: 10px;
    margin: 20px 0px;
    border: none;
    color: #fff;
    background: cornflowerblue;
    border-radius: 4px;
}

main>ul {
    display: flex;
    flex-wrap: wrap;
}

main>ul>a>li,
main>ul>li {
    padding: 10px 30px;
    background: #fff;
    margin: 30px;
    min-width: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.title {
    font-size: 54px;
}

.del-img {
    display: none;
    position: absolute;
    width: 1rem;
    top: .5rem;
    right: .5rem;
}

.li-content:hover .del-img {
    display: block;
}